		checkID=[1,2,3,4]
        $.ajax({
            url:'',
            dataType:'json',
            type:'POST',
            async: true,
            data: JSON.stringify(checkID),
            processData : false, 
            contentType : "application/json",
            headers:{
                id:token,
            },
            success: function(data){
                if(data['status']==200){
                    var r=confirm(data['msg']);
                        if (r==true){
                            location.reload();
                        }
                        else{
                            location.reload();
                        }
                }else{
                    alert(data['msg'])
                }
            }
        })
